@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <p>Bienvenido, @context.User.Identity?.Name</p>
        <button @onclick="Logout">Cerrar Sesión</button>
    </Authorized>
    <NotAuthorized>
        <p>No estás autenticado.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task Logout()
    {
        if (AuthenticationStateProvider is CustomAuthStateProvider authStateProvider)
        {
            authStateProvider.SetUserLoggedOut();
        }
        await Task.CompletedTask; // Evita la advertencia
    }



}


